@import "dashboard/variables";

// Bootstrap (all dependencies)
@import "../../node_modules/bootstrap/scss/bootstrap";

// Components: Icons / Fonts
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

// New dashboard styles
@import "dashboard/index";
